<div class="container" *ngIf="data$ | async as data">
  <div class="content">
    <div class="image__container">
      <img class="image" src="/assets/images/{{ data.image }}.svg" />
    </div>
    <div class="description">
      <h1 class="tui-text_h1">{{ data.code }}</h1>
      <h3 class="tui-text_h3">{{ data.title }}</h3>
      <span class="tui-text_body-m">{{ data.text }}</span>
    </div>
  </div>
</div>
