
@import "/src/styles";

.container {
  height: calc(80vh - var(--header-height) - var(--header-margin));
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
}

.image {
  width: 500px;
  margin-right: 72px;
}
