@import '~@taiga-ui/core/styles/taiga-ui-local';



.footer {
  display: flex;
  max-width: var(--page-width);
  margin: 0 auto;

  &__container {
    display: block;
    background-color: var(--tui-base-01);
    padding: 32px 0;
    margin-top: 64px;
    z-index: 8;
    position: relative;

    .shadow(3);
  }

}

.git-link ::ng-deep .t-content {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 32px;
  width: 100px;
  height: 100px;
}
