<div class="footer__container">
  <div class="footer">
    <a
      href="https://gitlab.com/SunshineGlow"
      target="_blank"
      tuiLink
      class="git-link"
    >
      <svg-icon src="assets/icons/logo.svg" class="logo"></svg-icon>
      SunshineGlow©
    </a>
  </div>
</div>
