<div class="card" routerLink="/recipes/view/{{ recipe.id }}">
  <div class="card__category">
    <svg-icon src="assets/icons/bowl-hot.svg"></svg-icon>
    Основные блюда
  </div>
  <div class="card__title">{{ recipe.title }}</div>
  <img [src]="recipe.imageUrl" class="card__image" />
</div>
