@import '~@taiga-ui/core/styles/taiga-ui-local';
.card {

  background-color: var(--tui-base-01);
  border-radius: 10px 10px 15px 15px;
  width: 235px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &__category {
    padding: 28px 22px 0;
    display: flex;
    align-items: center;

    svg-icon {
      margin-right: 16px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 1.1rem;
    margin: 22px;
    word-break: break-word;
    height: 77px;
  }

  &__image {
    height: 235px;
    width: 235px;
    object-fit: cover;
    border-radius: 10px;
  }


}

.card {
  transition-property: box-shadow, transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  width: 220px;

  &__image {
    height: 180px;
    width: 220px;
  }

  .shadow(1);

  &:hover {
    .shadow(5);
    transform: translateY(-8px);
  }
}
