<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="tui-row tui-row_sme">
      <div class="tui-col_12">
        <h3 class="tui-form__header tui-form__header_margin-top_none">
          Регистрация
        </h3>
        <div class="tui-form__row">
          <tui-input
            tuiTextfieldExampleText="Иванов"
            formControlName="lastName"
            tuiTextfieldType="text"
          >
            Фамилия
            <span class="tui-required"></span>
          </tui-input>
          <tui-field-error formControlName="lastName"></tui-field-error>
        </div>
        <div class="tui-form__row">
          <tui-input
            tuiTextfieldExampleText="Иван"
            formControlName="firstName"
            tuiTextfieldType="text"
          >
            Имя
            <span class="tui-required"></span>
          </tui-input>
          <tui-field-error formControlName="firstName"></tui-field-error>
        </div>
        <div class="tui-form__row">
          <tui-input
            tuiTextfieldExampleText="E-mail"
            formControlName="email"
            tuiHintContent="Ваша почта"
            tuiTextfieldType="email"
          >
            E-mail
            <span class="tui-required"></span>
          </tui-input>
          <tui-field-error formControlName="email"></tui-field-error>
        </div>
        <div class="tui-form__row">
          <tui-input
            tuiTextfieldExampleText="Ник пользователя"
            formControlName="userName"
            tuiTextfieldType="text"
          >
            Ник пользователя
            <span class="tui-required"></span>
          </tui-input>
          <tui-field-error formControlName="userName"></tui-field-error>
        </div>
        <div class="tui-form__row">
          <tui-input
            tuiTextfieldExampleText="Пароль"
            formControlName="password"
            tuiHintContent="Ваш пароль"
            tuiTextfieldType="password"
          >
            Пароль
            <span class="tui-required"></span>
          </tui-input>
          <tui-field-error formControlName="password"></tui-field-error>
        </div>
        <div class="tui-form__row">
          <tui-input
            tuiTextfieldExampleText="Повторите пароль"
            formControlName="addpassword"
            tuiTextfieldType="password"
          >
            Повторите пароль
            <span class="tui-required"></span>
          </tui-input>
          <tui-field-error formControlName="addpassword"></tui-field-error>
        </div>
        <div class="tui-form__buttons">
          <button tuiButton size="l" type="submit" class="tui-form__button">
            Регистрация
          </button>
          <button
            tuiButton
            type="button"
            appearance="flat"
            size="l"
            class="tui-form__button"
            routerLink="../login"
          >
            Войти
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
