<div class="title-row">
  <h4 class="tui-text_h4">Пользователи</h4>
  <button tuiButton icon="tuiIconPlus" size="s" (click)="createNew()">
    Добавить сотрудника
  </button>
</div>

<table tuiTable [columns]="columns" *ngIf="users && users.length">
  <thead tuiThead>
    <tr tuiThGroup>
      <th class="col-fio" *tuiHead="'name'" tuiTh>ФИО</th>
      <th class="col-grade" *tuiHead="'roles'" tuiTh>Роли</th>
      <th class="col-email" *tuiHead="'email'" tuiTh>E-mail</th>
      <th class="col-project" *tuiHead="'organization'" tuiTh>Организация</th>
      <th class="col-action" *tuiHead="'actions'" tuiTh [sorter]="null"></th>
    </tr>
  </thead>
  <tbody tuiTbody [data]="users">
    <tr *tuiRow="let item of users; let index = index" tuiTr>
      <td *tuiCell="'name'" tuiTd>
        {{ page * count + index + 1 }}. {{ item.lastName }}
        {{ item.firstName }}
      </td>
      <td *tuiCell="'roles'" tuiTd>
        <ng-container *ngIf="!!item.roles?.length; else userTag">
          <tui-tag
            *ngFor="let role of item.roles"
            class="tui-space_right-1"
            [value]="role"
            [autoColor]="true"
          ></tui-tag>
        </ng-container>
        <ng-template #userTag>
          <tui-tag
            class="tui-space_right-1"
            value="Пользователь"
            [autoColor]="true"
          ></tui-tag>
        </ng-template>
      </td>
      <td *tuiCell="'email'" tuiTd>
        <a *ngIf="item.email" tuiLink [href]="'mailto:' + item.email">
          {{ item.email }}
        </a>
      </td>
      <td *tuiCell="'organization'" tuiTd>
        {{ item.organization?.name }}
      </td>
      <td *tuiCell="'actions'" tuiTd>
        <button
          tuiIconButton
          class="remove"
          appearance="flat"
          size="s"
          icon="tuiIconEditLarge"
          title="Редактировать"
          shape="rounded"
          (click)="edit(item)"
        ></button>
        <button
          tuiIconButton
          class="remove"
          appearance="flat"
          size="s"
          icon="tuiIconTrash"
          title="Удалить"
          shape="rounded"
          (click)="remove(item)"
        ></button>
      </td>
    </tr>
  </tbody>
</table>
<tui-table-pagination
  *ngIf="users && users.length"
  [total]="total"
  [(page)]="page"
  [(size)]="count"
></tui-table-pagination>

<div class="tui-text_body-xxl" *ngIf="!users.length">
  У вас еще нет пользователей.
</div>
