@import '~@taiga-ui/core/styles/taiga-ui-local';

.container {
  margin-top: 20px;
  display: flex;
}

.filter {
  width: 250px;
  .shadow(1);
  background-color: var(--tui-base-01);
  border-radius: 8px;

  &__container {

  }

  &__title {


  }

  &__item {
    background-color: var(--tui-base-01);
    transition: background-color 0.1s ease-in-out;
    padding: 3px 16px;

    &:hover {
      background-color: var(--tui-base-02);
    }

    &_active {
      background-color: var(--tui-base-03) !important;
    }

    &:first-child {
      padding-top: 16px;
      border-radius: 8px 8px 0;
    }
    &:last-child {
      padding-bottom: 16px;
      border-radius: 0 0 8px 8px;
    }
  }
}

.grid {

  &__item {
    background-color: var(--tui-base-01);
    .shadow(1);
    padding: 16px 24px;
    display: flex;
    border-radius: 12px;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
      .shadow(5);
    }

    & + & {
      margin-top: 16px;
    }

    &__title {

    }

    &__description {

    }

    &__right {
      width: 150px;
      display: flex;
      justify-content: end;
      align-items: flex-end;
    }
  }


  &__container {
    padding-left: 24px;
    flex-grow: 1;
  }
}
