<div class="search-row">
  <tui-input [formControl]="searchControl">Введите название товара</tui-input>
</div>
<div class="container">
  <div class="filter__container">
    <div class="filter">
      <div class="filter__item" (click)="setCategory(null)">Все категории</div>
      <div
        class="filter__item"
        [class.filter__item_active]="cat === category"
        (click)="setCategory(cat)"
        *ngFor="let cat of categories$ | async"
      >
        {{ cat }}
      </div>
    </div>
  </div>
  <div class="grid__container">
    <div class="grid">
      <div
        class="grid__item"
        *ngFor="let product of products"
        routerLink="view/{{ product.id }}"
      >
        <div class="grid__item__left">
          <div class="grid__item__title">
            {{ product.name }}
          </div>
          <div class="grid__item__description tui-text_body-s">
            {{ clamp(product.description) }}
          </div>
          <div class="grid__item__additional"></div>
        </div>
        <div class="grid__item__right">
          <div class="grid__item__price">
            от
            <tui-money
              [currency]="'RUB'"
              [value]="product.priceStart"
            ></tui-money>
          </div>
        </div>
      </div>
    </div>
    <tui-table-pagination
      [total]="total"
      [(page)]="page"
      [(size)]="count"
    ></tui-table-pagination>
  </div>
</div>
