<div class="title-row">
  <h4 class="tui-text_h4">Точки продажи</h4>
  <button tuiButton icon="tuiIconPlus" size="s" (click)="createNew()">
    Добавить точку
  </button>
</div>

<table tuiTable [columns]="columns" *ngIf="salePoints && salePoints.length">
  <thead tuiThead>
    <tr tuiThGroup>
      <th class="col-fio" *tuiHead="'name'" tuiTh>Название</th>
      <th class="col-grade" *tuiHead="'address'" tuiTh>Адрес</th>
      <th class="col-action" *tuiHead="'actions'" tuiTh [sorter]="null"></th>
    </tr>
  </thead>
  <tbody tuiTbody [data]="salePoints">
    <tr *tuiRow="let item of salePoints; let index = index" tuiTr>
      <td *tuiCell="'name'" tuiTd>
        {{ page * count + index + 1 }}. {{ item.name }}
      </td>
      <td *tuiCell="'address'" tuiTd>
        {{ item.address }}
      </td>
      <td *tuiCell="'actions'" tuiTd>
        <button
          tuiIconButton
          class="remove"
          appearance="flat"
          size="s"
          icon="tuiIconEditLarge"
          title="Редактировать"
          shape="rounded"
          (click)="edit(item)"
        ></button>
        <button
          tuiIconButton
          class="remove"
          appearance="flat"
          size="s"
          icon="tuiIconTrash"
          title="Удалить"
          shape="rounded"
          (click)="remove(item)"
        ></button>
      </td>
    </tr>
  </tbody>
</table>
<tui-table-pagination
  *ngIf="salePoints && salePoints.length"
  [total]="total"
  [(page)]="page"
  [(size)]="count"
></tui-table-pagination>

<div class="tui-text_body-xxl" *ngIf="!salePoints.length">
  У вас еще нет точек продажи.
</div>
