<h4 class="tui-text_h4 title">
  Откройте новые рецепты
  <a
    tuiButton
    routerLink="../new"
    class="title__new"
    appearance="secondary"
    *ngIf="userService.isAuth$ | async"
    >Создать рецепт</a
  >
</h4>

<div class="popular">
  <div class="popular__info">
    <tui-tag
      value="ПОПУЛЯРНО"
      size="m"
      status="primary"
      class="popular__info__tag"
    ></tui-tag>
    <h4 class="tui-text_h4 popular__info__title">{{ popular.title }}</h4>
    <div class="popular__info__icons">
      <svg-icon
        src="assets/icons/clock.svg"
        class="popular__info__icons__icon"
      ></svg-icon>
      <span class="popular__info__icons__text">{{
        popular.time | addTime
      }}</span>
      <svg-icon
        src="assets/icons/heart-regular.svg"
        class="popular__info__icons__icon"
      ></svg-icon>
      <span class="popular__info__icons__text">{{ popular.likes }}</span>
    </div>
  </div>
  <img [src]="popular.image" class="popular__image" />
</div>

<h4 class="tui-text_h6">Категории</h4>
<div class="categories">
  <div class="categories__item">
    <svg-icon
      class="categories__item__icon"
      src="assets/icons/egg-fried.svg"
    ></svg-icon>
    <div class="categories__item__title">Завтраки</div>
  </div>
  <div class="categories__item">
    <svg-icon
      class="categories__item__icon"
      src="assets/icons/cookie-bite.svg"
    ></svg-icon>
    <div class="categories__item__title">Закуски</div>
  </div>
  <div class="categories__item">
    <svg-icon
      class="categories__item__icon"
      src="assets/icons/wine-glass.svg"
    ></svg-icon>
    <div class="categories__item__title">Напитки</div>
  </div>
  <div class="categories__item">
    <svg-icon
      class="categories__item__icon"
      src="assets/icons/bowl-food.svg"
    ></svg-icon>
    <div class="categories__item__title">Основные блюда</div>
  </div>
  <div class="categories__item categories__item_active">
    <svg-icon
      class="categories__item__icon"
      src="assets/icons/salad.svg"
    ></svg-icon>
    <div class="categories__item__title">Салаты</div>
  </div>
  <div class="categories__item">
    <svg-icon
      class="categories__item__icon"
      src="assets/icons/pot-food.svg"
    ></svg-icon>
    <div class="categories__item__title">Супы</div>
  </div>
  <div class="categories__item">
    <svg-icon
      class="categories__item__icon"
      src="assets/icons/cake-slice.svg"
    ></svg-icon>
    <div class="categories__item__title">Выпечка и десерты</div>
  </div>
</div>

<div class="grid">
  <app-recipe-card
    *ngFor="let recipe of recipes"
    [recipe]="recipe"
    class="grid__item"
  ></app-recipe-card>
</div>

<tui-table-pagination
  [total]="total"
  [(page)]="page"
  [(size)]="count"
></tui-table-pagination>
