@import '~@taiga-ui/core/styles/taiga-ui-local';

.popular {
  .shadow(6);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  background-color: var(--tui-base-01);
  height: 300px;

  &__image {
    height: 300px;
    width: 57%;
    border-radius: 0 4px 4px 0;
    object-fit: cover;
  }

  &__info {
    padding: 0 48px;
    margin: auto 0;

    &__tag {

    }

    &__title {
      margin: 1em 0;
    }

    &__icons {
      display: flex;

      &__icon {
        margin-right: 4px;
      }

      &__text {
        margin-right: 12px;
      }
    }
  }
}

.categories {
  display: flex;
  justify-content: space-between;

  &__item {
    .shadow(6);
    width: 100px;
    background-color: var(--tui-base-01);
    border-radius: 4px;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;

    &_active {
      position: relative;
      top: -10px;
      background-color: var(--tui-primary);
      color: var(--tui-primary-text);
      .shadow(5);

      svg-icon {
        ::ng-deep svg {
          fill: var(--tui-primary-text);
        }
      }
    }

    &__icon {
      ::ng-deep svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem -15px;

  &__item {
    margin: 15px;
  }
}
