<form [formGroup]="form">
  <div class="tui-row tui-row_sme">
    <div class="tui-col_12">
      <div class="tui-form__row">
        <tui-input
          formControlName="name"
        >
          Название <span class="tui-required"></span>
        </tui-input>
      </div>
      <div class="tui-form__row">
        <tui-input
          formControlName="address"
        >
          Адрес <span class="tui-required"></span>
        </tui-input>
      </div>
    </div>
  </div>
</form>

<div class="map-container">
  <ya-map [center]="[55, 34]" (ready)="onMapReady($event)" [zoom]="16"></ya-map>
</div>

<div class="dialog-buttons">
  <button
    class="dialog-action"
    tuiButton
    type="button"
    size="m"
    [disabled]="!!form?.invalid"
    (click)="submit()"
  >
    Добавить
  </button>
</div>
