@import '~@taiga-ui/core/styles/taiga-ui-local';

td,
th {
  white-space: nowrap;
  border-color: transparent;
  border-right-color: var(--tui-base-04);

  &:last-child {
    border-right-color: transparent;
  }
}

tbody {
  border-color: transparent;
}

tr:nth-child(even) td {
  background: var(--tui-base-02);
}

.alive,
.deceased {
  display: flex;
  align-items: center;
  text-transform: capitalize;

  &:before {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    margin-right: 0.5rem;
    background: var(--tui-base-04);
  }
}

.alive:before {
  background: var(--tui-success-fill);
}

.remove {
  .transition(opacity);
  opacity: 0;

  tr:hover &,
  tr:focus-within & {
    opacity: 1;
  }
}

table {
  width: 100%;
}

.actions {
  width: 48px;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.col {
  &-fio {
    width: 30%;
  }
  &-project {
    width: 20%;
  }
  &-email {
    width: 20%;
  }
  &-grade {
    width: 20%;
  }
  &-action {
    width: 10%;
  }
}
