<div class="title-row">
  <h4 class="tui-text_h4">Организации</h4>
  <button tuiButton icon="tuiIconPlus" size="s" (click)="showAddDialog()">
    Добавить организацию
  </button>
</div>

<table
  tuiTable
  [columns]="columns"
  *ngIf="organizations && organizations.length"
>
  <thead tuiThead>
    <tr tuiThGroup>
      <th class="col-fio" *tuiHead="'name'" tuiTh>Название</th>
      <th class="col-grade" *tuiHead="'employeesCount'" tuiTh>
        Кол-во сотрудников
      </th>
      <th class="col-email" *tuiHead="'salePointsCount'" tuiTh>
        Кол-во точек продаж
      </th>
      <th class="col-action" *tuiHead="'actions'" tuiTh [sorter]="null"></th>
    </tr>
  </thead>
  <tbody tuiTbody [data]="organizations">
    <tr *tuiRow="let item of organizations; let index = index" tuiTr>
      <td *tuiCell="'name'" tuiTd>
        {{ (page) * count + index + 1 }}. {{ item.name }}
      </td>
      <td *tuiCell="'employeesCount'" tuiTd>
        {{ item.employeesCount }}
      </td>
      <td *tuiCell="'salePointsCount'" tuiTd>
        {{ item.salePointsCount }}
      </td>
      <td *tuiCell="'actions'" tuiTd>
        <button
          tuiIconButton
          class="remove"
          appearance="flat"
          size="s"
          icon="tuiIconTrash"
          title="Remove"
          shape="rounded"
          (click)="remove(item)"
        ></button>
      </td>
    </tr>
  </tbody>
</table>
<tui-table-pagination
  *ngIf="organizations && organizations.length"
  [total]="total"
  [(page)]="page"
  [(size)]="count"
></tui-table-pagination>

<div class="tui-text_body-xxl" *ngIf="!organizations.length">
  У вас еще нет организаций.
</div>
