@import '~@taiga-ui/core/styles/taiga-ui-local';


.container {
  display: flex;
  justify-content: space-between;
}

.short-info {
  width: 300px;
  .shadow(5);
  border-radius: 24px;
  margin-top: -72px;
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  backdrop-filter: blur(16px) saturate(1.2);
  position: sticky;
  top: 16px;

  &__container {

  }

  &__image {
    width: 72px;
    height: 72px;
    object-fit: cover;
    z-index: 12;
    border-radius: 50%;
    .shadow(6);
  }

  &__info {
    background-color: var(--tui-base-01);
    margin-top: -36px;
    padding-top: 48px;
    padding-bottom: 20px;
    border-radius: 0 0 24px 24px;
    width: 300px;

    &__title {
      font-weight: 600;
      text-align: center;
      display: block;
      letter-spacing: 0.4px;
      margin-bottom: 12px;
    }

    &-row {
      margin: 10px 16px;
      display: flex;


      &__title {
        margin-right: 4px;

      }

      &__text {
        font-weight: 600;
      }

      svg-icon {
        margin-right: 8px;
        position: relative;
        top: 2px;

        ::ng-deep svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.head {
  margin-top: calc(var(--header-height-full) * -1);
  position: relative;
  &__image {
    height: 48vh;
    object-fit: cover;
  }
}

.icons {
  display: flex;
  position: absolute;
  bottom: 24px;
}

.icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--tui-base-02);
  margin-right: 12px;
  .shadow(4);
  display: flex;
  justify-content: center;
  align-items: center;

  svg-icon {
    width: 18px;
    height: 18px;
    ::ng-deep svg {
      width: 18px;
      height: 18px;
    }
  }
}

.info {
  padding-top: 16px;
  padding-right: 24px;
}

.description {
  margin-top: 16px;
  background-color: var(--tui-base-01);
  .shadow(4);
  border-radius: 8px;
  padding: 24px 32px;

  &__text {

  }

  &__title {
    margin-top: 0.2em;
  }

  &__author {
    display: flex;
    margin-top: 18px;
    align-items: center;

    tui-avatar {
      margin-right: 12px;
    }

    span {
      font-weight: bold;
    }
  }
}

.ingredients {
  margin-top: 24px;
 &__block {
   display: flex;

   &__title {
     position: sticky;
     display: block;
     width: 150px;
     text-align: right;
     top: 16px;

     &__container {
       margin-right: 10px;
     }
   }

   &__items {

     &__row {
       display: flex;
       margin-bottom: 12px;

       &-text {
         position: relative;
         top: 5px;

         &_link {
           cursor: pointer;

           &:hover {
             color: var(--tui-accent);
           }
         }
       }
     }
   }
 }
}

.steps {
  display: flex;

  &__items {


    &__row {
      margin-bottom: 12px;
      display: grid;
      column-count: 2;

      &-line {
        width: 1px;
        background-color: var(--tui-text-01);
        margin: 0 16px;
      }

      &-block {
        display: flex;

        &__left {
          flex-direction: column;

          .steps__items__row-line {
            flex-grow: 1;
            margin: 10px 16px 0;
          }

          .index {
            margin-top: 1em;
          }
        }
      }

      &-text {
        position: relative;
        top: 4px;
      }

      &-image {
        width: 100%;
        max-width: 840px;
        border-radius: 8px;
        margin-top: 8px;
        .shadow(4)
      }
    }
  }

  &__title {
    position: sticky;
    display: block;
    width: 150px;
    text-align: right;
    top: 16px;
    margin-top: 0.85em;

    &__container {
      margin-right: 10px;
    }
  }
}

.index {
  border-radius: 50%;
  min-width: 32px;
  height: 32px;
  margin-right: 12px;
  border: 1px solid var(--tui-text-01);
  display: flex;
  justify-content: center;
  align-items: center;
}
