<ng-container *ngIf="recipe$ | async as recipe">
  <div class="head">
    <img [src]="recipe.imageUrl" class="head__image full-width" />
    <div class="icons">
      <div class="icon">
        <svg-icon src="assets/icons/bookmark-regular.svg"></svg-icon>
      </div>
      <div class="icon">
        <svg-icon src="assets/icons/heart-regular.svg"></svg-icon>
      </div>
      <div class="icon">
        <svg-icon src="assets/icons/share-from-square-regular.svg"></svg-icon>
      </div>
    </div>
  </div>
  <div class="container tui-text_body-m">
    <div class="info">
      <div>Нравится {{ recipe.likes }} пользователям</div>
      <div class="description">
        <!--      <h1 class="description__title tui-text_h4">{{ model.title }}</h1>-->
        <div class="description__text" [innerHtml]="recipe.description"></div>
        <div class="description__author">
          <tui-avatar
            [text]="recipe.user.lastName + ' ' + recipe.user.firstName"
            size="m"
            [rounded]="true"
          ></tui-avatar>
          <span class="tui-text_body-m"
            >{{ recipe.user.lastName }} {{ recipe.user.firstName }}</span
          >
        </div>
      </div>

      <div class="ingredients">
        <div
          *ngFor="let block of recipe.ingredientBlocks"
          class="ingredients__block"
        >
          <div class="ingredients__block__title__container">
            <span class="ingredients__block__title tui-text_body-xl"
              >{{ block.title }}:</span
            >
          </div>
          <div class="ingredients__block__items">
            <div
              *ngFor="let item of block.items; let i = index"
              class="ingredients__block__items__row"
            >
              <div class="index">
                {{ i + 1 }}
              </div>
              <span
                class="ingredients__block__items__row-text"
                [class.ingredients__block__items__row-text_link]="
                  !!item.productId
                "
                [routerLink]="
                  !!item.productId ? ['/products/view/' + item.productId] : []
                "
              >
                {{ item.title }}
                <span class="secondary">
                  {{ item.count }}
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="short-info__container">
      <div class="short-info">
        <img [src]="recipe.imageUrl" class="short-info__image" />
        <div class="short-info__info">
          <div class="short-info__info__title">
            {{ recipe.title }}
          </div>
          <div class="short-info__info-row">
            <svg-icon src="assets/icons/clock.svg"></svg-icon>
            <span class="short-info__info-row__title tui-text_body-m"
              >Подготовка:</span
            >
            <span class="short-info__info-row__text tui-text_body-m"
              >{{ recipe.preparationTime }}
              {{
                recipe.preparationTime
                  | i18nPlural: mapping[recipe.preparationPlural]
              }}</span
            >
          </div>
          <div class="short-info__info-row">
            <svg-icon src="assets/icons/clock.svg"></svg-icon>
            <span class="short-info__info-row__title tui-text_body-m"
              >Готовка:</span
            >
            <span class="short-info__info-row__text tui-text_body-m"
              >{{ recipe.cookTime }}
              {{
                recipe.cookTime | i18nPlural: mapping[recipe.cookPlural]
              }}</span
            >
          </div>
          <div class="short-info__info-row">
            <svg-icon src="assets/icons/bowl-hot.svg"></svg-icon>
            <span class="short-info__info-row__title tui-text_body-m"
              >Выход:</span
            >
            <span class="short-info__info-row__text tui-text_body-m"
              >{{ recipe.serves }} порций</span
            >
          </div>
          <div class="short-info__info-row">
            <svg-icon src="assets/icons/dumbbell.svg"></svg-icon>
            <span class="short-info__info-row__title tui-text_body-m"
              >Сложность:</span
            >
            <span class="short-info__info-row__text tui-text_body-m">{{
              recipe.difficulty | diffToStr
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="steps">
    <div class="steps__title__container">
      <span class="steps__title tui-text_body-xl">Шаги готовки:</span>
    </div>
    <div class="steps__items">
      <div
        *ngFor="let step of recipe.steps; let i = index"
        class="steps__items__row tui-text_body-m"
      >
        <div class="steps__items__row-block steps__items__row-block__left">
          <div class="index">
            {{ i + 1 }}
          </div>
          <div class="steps__items__row-line"></div>
        </div>
        <div class="steps__items__row-block" style="grid-column: 2">
          <div class="steps__items__row-text" [innerHtml]="step.text"></div>
        </div>
        <div class="steps__items__row-block">
          <div class="steps__items__row-line"></div>
        </div>
        <div class="steps__items__row-block" style="grid-column: 2">
          <img [src]="step.imageUrl" class="steps__items__row-image" />
        </div>
      </div>
    </div>
  </div>

  <!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
  <!--&lt;!&ndash;  <div class="short-info">&ndash;&gt;-->
  <!--&lt;!&ndash;    <img [src]="model.imageUrl" class="short-info__image" />&ndash;&gt;-->
  <!--&lt;!&ndash;    <div class="short-info__text">&ndash;&gt;-->
  <!--&lt;!&ndash;      <h1 class="tui-text_h4 short-info__title">{{ model.title }}</h1>&ndash;&gt;-->
  <!--&lt;!&ndash;      <p class="short-info__description">{{ model.description }}</p>&ndash;&gt;-->
  <!--&lt;!&ndash;    </div>&ndash;&gt;-->
  <!--&lt;!&ndash;  </div>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
</ng-container>
