<p>{{ data }}</p>

<div class="dialog-buttons">
  <button
    tuiButton
    type="button"
    appearance="secondary"
    size="m"
    (click)="submit()"
  >
    Подтвердить
  </button>
  <button tuiButton type="button" size="m" (click)="cancel()">Отмена</button>
</div>
