<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="tui-row tui-row_sme">
      <div class="tui-col_12">
        <h3 class="tui-form__header tui-form__header_margin-top_none">
          Вход в систему
        </h3>
        <div class="tui-form__row">
          <tui-input
            tuiTextfieldExampleText="ivanov или ivanov@gmail.com"
            formControlName="email"
            tuiHintContent="Ваша почта или ник"
            tuiTextfieldType="email"
          >
            E-mail или ник
            <span class="tui-required"></span>
          </tui-input>
          <tui-field-error formControlName="email"></tui-field-error>
        </div>
        <div class="tui-form__row">
          <tui-input
            tuiTextfieldExampleText="Пароль"
            formControlName="password"
            tuiHintContent="Ваш пароль"
            tuiTextfieldType="password"
          >
            Пароль
            <span class="tui-required"></span>
          </tui-input>
          <tui-field-error formControlName="password"></tui-field-error>
        </div>
        <div class="tui-form__buttons">
          <button tuiButton size="l" type="submit" class="tui-form__button">
            Войти
          </button>
          <button
            tuiButton
            type="button"
            appearance="flat"
            size="l"
            class="tui-form__button"
            routerLink="../register"
          >
            Регистрация
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
