@import '~@taiga-ui/core/styles/taiga-ui-local';


.container {


}

.get-started {
  bottom: -20px;
  z-index: 2;
  .shadow(1);
  transition: box-shadow 0.1s ease-in-out;

  &:hover {
    .shadow(5);
  }
}

.container2d {
  display: flex;
  padding: 64px var(--page-margin-horizontal);
  justify-content: space-between;

  &__bg {
    background-color: var(--tui-base-01);
    .shadow(6);
  }


}


