<div class="container">
  <h1 class="tui-text_h1">Прототип ВКР</h1>
  <h3 class="tui-text_h3">Рецепты</h3>
  <a tuiButton class="get-started" routerLink="/recipes/all">Начнем готовить</a>
</div>
<div class="full-width container2d__bg">
  <div class="container2d">
    <app-recipe-card
      *ngFor="let recipe of (recipes$ | async)?.items"
      [recipe]="recipe"
      class="grid__item"
    ></app-recipe-card>
  </div>
</div>
<div class="container">
  <h3 class="tui-text_h3">Товары</h3>
  <a tuiButton class="get-started" routerLink="/products/all"
    >Посмотрим товары</a
  >
</div>
<div class="full-width container2d__bg">
  <div class="container2d">
    <app-product-card
      *ngFor="let product of (products$ | async)?.items"
      [product]="product"
      class="grid__item"
    ></app-product-card>
  </div>
</div>
