<tui-theme-night *ngIf="themeService.isNightMode$ | async"></tui-theme-night>
<tui-root
  [tuiMode]="(themeService.isNightMode$ | async) ? 'onDark' : 'onLight'"
>
  <tui-loader
    [showLoader]="!!(showLoader$ | async)"
    [textContent]="loaderText$ | async"
    [overlay]="true"
    size="xxl"
  >
    <div class="main">
      <app-header></app-header>
      <div
        class="page"
        [class.sidebar-margin]="layoutService.isSidebarShown$ | async"
      >
        <router-outlet></router-outlet>
      </div>
      <app-footer *ngIf="!(layoutService.isSidebarShown$ | async)"></app-footer>
    </div>
  </tui-loader>
</tui-root>
