.page {
  max-width: var(--page-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

.main {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

app-footer {
  margin-top: auto;
}

.sidebar-margin {
  margin-left: 261px;
  margin-right: 0;
  max-width: calc(100vw - 261px);

  padding: 0;
}
