<div class="title-row">
  <h4 class="tui-text_h4">Список товаров</h4>
  <button
    tuiButton
    icon="tuiIconPlus"
    size="s"
    (click)="isFilesOpen = !isFilesOpen"
  >
    Импорт из csv
  </button>
</div>

<tui-input-files
  [formControl]="filesControl"
  *ngIf="isFilesOpen && !filesControl.value"
  accept="text/csv"
  [maxFileSize]="100000000"
></tui-input-files>
<tui-files class="tui-space_top-1">
  <tui-file
    *ngIf="filesControl.valueChanges | async as file"
    [file]="file"
  ></tui-file>
</tui-files>
<!--<tui-files>-->
<!--  <tui-file-->
<!--    tuiItem-->
<!--    [file]="file"-->
<!--  ></tui-file>-->
<!--</tui-files>-->

<table tuiTable [columns]="columns" *ngIf="products && products.length">
  <thead tuiThead>
    <tr tuiThGroup>
      <th class="col-name" *tuiHead="'name'" tuiTh>Название</th>
      <th class="col-barCode" *tuiHead="'barCode'" tuiTh>Артикул</th>
      <th class="col-price" *tuiHead="'price'" tuiTh>Цена</th>
      <th class="col-availability" *tuiHead="'availability'" tuiTh>Кол-во</th>
      <th class="col-actions" *tuiHead="'actions'" tuiTh [sorter]="null"></th>
    </tr>
  </thead>
  <tbody tuiTbody [data]="products">
    <tr *tuiRow="let item of products; let index = index" tuiTr>
      <td *tuiCell="'name'" tuiTd>
        {{ page * count + index + 1 }}. {{ item.product.name }}
      </td>
      <td *tuiCell="'barCode'" tuiTd>
        {{ item.product.barCode }}
      </td>
      <td *tuiCell="'price'" tuiTd>
        {{ item.price }}
      </td>
      <td *tuiCell="'availability'" tuiTd>
        {{ item.availability }}
      </td>
      <td *tuiCell="'actions'" tuiTd>
        <button
          tuiIconButton
          class="remove"
          appearance="flat"
          size="s"
          icon="tuiIconTrash"
          title="Удалить"
          shape="rounded"
          (click)="remove(item)"
        ></button>
      </td>
    </tr>
  </tbody>
</table>
<tui-table-pagination
  *ngIf="products && products.length"
  [total]="total"
  [(page)]="page"
  [(size)]="count"
></tui-table-pagination>

<div class="tui-text_body-xxl" *ngIf="!products.length">
  У вас еще нет товаров.
</div>
