<div class="header" [class.header_back]="headerService.showShadow$ | async">
  <div
    class="header__content"
    [class.header__content_white]="headerService.isWhite$ | async"
  >
    <h3 class="tui-text_h3 logo" routerLink="/">Логотип</h3>
    <a tuiLink class="item" routerLink="/recipes/">Рецепты</a>
    <a tuiLink class="item" routerLink="/products/">Товары</a>

    <div class="auth">
      <div class="login" *ngIf="!(userService.isAuth$ | async); else userT">
        <a tuiButton routerLink="/auth">Войти</a>
      </div>
    </div>
  </div>
</div>
<div [class.header__content_blur]="headerService.isWhite$ | async"></div>

<ng-template #userT>
  <tui-hosted-dropdown tuiDropdownHover [content]="content" [(open)]="open">
    <div class="user" *tuiLet="userService.currentUser$ | async as user">
      <tui-avatar
        [text]="user?.firstName + ' ' + user?.lastName"
        [rounded]="true"
        class="avatar"
      ></tui-avatar
      >{{ user?.firstName + " " + user?.lastName }}
    </div>
    <ng-template #content>
      <tui-data-list class="dropdown-content" (click)="open = false">
        <a
          tuiOption
          routerLink="/lk/admin"
          *ngIf="userService.isAdmin$ | async"
        >
          Админ-панель
        </a>
        <a
          tuiOption
          routerLink="/lk/distributor"
          *ngIf="userService.isDistributor$ | async"
        >
          Панель управления
        </a>
        <button tuiOption (click)="logout()">Выйти</button>
      </tui-data-list>
    </ng-template>
  </tui-hosted-dropdown>
</ng-template>
