@import '~@taiga-ui/core/styles/taiga-ui-local';
@import "/src/styles";

:host {
  display: block;
}

.header {
  height: calc(var(--header-height) + var(--header-margin));
  display: flex;
  z-index: 10;
  position: relative;
  padding: 16px 32px;
  margin-bottom: var(--header-margin);

  &__content {
    max-width: var(--page-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    z-index: 12;
    align-items: center;

    &_blur {
      position: absolute;
      height: var(--header-height-full);
      width: 100vw;
      z-index: 9;
      top: 0;
      backdrop-filter: blur(2px) saturate(1.2);
      background-color: #00000044;
      transform: rotate(180deg);
      -webkit-mask: -webkit-gradient(
        linear,
        left 60%,
        left 0%,
        from(rgba(0, 0, 0, 1)),
        to(rgba(0, 0, 0, 0))
      );
    }

    &_white {
      .logo {
        color: var(--tui-base-01);
        text-shadow: 0 2px 12px #000000CC;

      }

      .item {
        color: var(--tui-base-01);
        text-shadow: 0 1px 4px #00000055;
      }
    }
  }

  &_back {
    .shadow(4);
    background-color: var(--tui-base-01);
  }
}

.logo {
  font-size: 28px;
  //position: relative;
  //top: -9px;
  margin: 0 64px 0 0;
  z-index: 10;
  cursor: pointer;
}

.item {
  margin-left: 16px;
  //position: relative;
  //top: 4px;
  z-index: 10;
  color: var(--tui-text-01);
  font-weight: 600;
  margin-top: 4px;
}

.auth {

  margin-left: auto;
}

.user {
  display: flex;
  align-items: center;

  .avatar {
    margin-right: 12px;
  }
}

.dropdown-content {
  width: 175px;
}
