<ng-container *ngIf="product$ | async as product">
  <h2 class="tui-text_h2">{{ product.name }}</h2>
  <p class="tui-text_body-m">{{ product.description }}</p>

  <div class="organization__container">
    <div class="organization" *ngFor="let org of product.organizations">
      <div class="organization__title tui-text_h5">{{ org.name }}</div>
      <div class="organization__info">
        <div class="organization__info__item">
          <div class="organization__info__item__left">Стоимость:</div>
          <div class="organization__info__item__right">
            <tui-money [currency]="'RUB'" [value]="org.price"></tui-money>
          </div>
        </div>
        <div class="organization__info__item">
          <div class="organization__info__item__left">Количество:</div>
          <div class="organization__info__item__right">
            {{ org.availability }}
          </div>
        </div>
        <div class="organization__info__item">
          <div class="organization__info__item__left">Ближ. точка:</div>
          <div class="organization__info__item__right">
            {{ org.salePointDistance }} м
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--

organizations: [{id: "53b7efdf-9c8e-468d-b5d9-83455f51f9e1", name: "ООО "Деклайм"",…}]
0: {id: "53b7efdf-9c8e-468d-b5d9-83455f51f9e1", name: "ООО "Деклайм"",…}
availability: 27
id: "53b7efdf-9c8e-468d-b5d9-83455f51f9e1"
name: "ООО \"Деклайм\""
price: 69.99
salePoints: [{id: "a9010121-1bb0-4b64-bf36-a8d7da8c134f", lat: 44.56807706652792, lon: 33.52417040209954,…},…]
-->
</ng-container>

<div class="map-container">
  <ya-map [center]="[55, 34]" (ready)="onMapReady($event)" [zoom]="16"></ya-map>
</div>
<ng-container *ngIf="product$ | async as product">
  <div class="tui-text_body-s">
    <div class="add__row">
      <span class="left">Категория:</span>
      <span class="right">{{ product.category }}</span>
    </div>
    <div class="add__row">
      <span class="left">Бренд:</span>
      <span class="right">{{ product.brand }}</span>
    </div>
    <div class="add__row">
      <span class="left">Артикул:</span>
      <span class="right">{{ product.barCode }}</span>
    </div>
    <div class="add__row">
      <span class="left">Ингредиенты:</span>
      <span class="right">{{ product.ingredients }}</span>
    </div>
    <div class="add__row">
      <span class="left">Производитель:</span>
      <span class="right">{{ product.producer }}</span>
    </div>
    <div class="add__row">
      <span class="left">Страна производства:</span>
      <span class="right">{{ product.countryOfProduction }}</span>
    </div>
    <div class="add__row">
      <span class="left">Калории</span>
      <span class="right">{{ product.calories }}</span>
    </div>
    <div class="add__row">
      <span class="left">Белки:</span>
      <span class="right">{{ product.proteins }}</span>
    </div>
    <div class="add__row">
      <span class="left">Жиры:</span>
      <span class="right">{{ product.fats }}</span>
    </div>
    <div class="add__row">
      <span class="left">Углеводы:</span>
      <span class="right">{{ product.carbohydrates }}</span>
    </div>
    <div class="add__row">
      <span class="left">Масса брутто:</span>
      <span class="right">{{ product.weightGross }}</span>
    </div>
    <div class="add__row">
      <span class="left">Масса нетто:</span>
      <span class="right">{{ product.weightNet }}</span>
    </div>
    <div class="add__row">
      <span class="left">ДхШхВ:</span>
      <span class="right">{{ product.lwHmm }}</span>
    </div>
  </div>
</ng-container>
