@import '~@taiga-ui/core/styles/taiga-ui-local';

.left {
  margin-right: 2px;
  color: var(--tui-text-02);
}

.map-container {
  width: 100%;
  height: 400px;
  margin: 1.25rem 0;

  ::ng-deep .ymaps-2-1-79-inner-panes {
    border-radius: 8px;
    .shadow(6);
  }
}

.organization {
  margin-top: 15px;
  background-color: var(--tui-base-01);
  border-radius: 8px;
  padding: 20px 30px;
  .shadow(6);

  &__info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    &__item {
      display: flex;

      &__left {

        margin-right: 2px;
        color: var(--tui-text-02);
      }

      &__right {
        font-weight: 600;
      }
    }
  }
}
