<div class="card" routerLink="/products/view/{{ product.id }}">
  <div class="card__category">
    {{ product.category }}
  </div>
  <div class="card__title">{{ product.name }}</div>
  <img
    src="https://via.placeholder.com/300/FFFFFF/808080.webp"
    class="card__image"
  />
</div>
