:host {
  display: block;
  border-right: 1px solid var(--tui-base-03);
  width: 260px;
  position: fixed;
  bottom: 0;
  left: 0;
  height: calc(100vh - 72px);
  background-color: var(--tui-base-01);
  z-index: 9;


}

.item {
  display: block;
  padding: 12px 20px;

  &:first-child {
    margin-top: 20px;
  }
}
