

:root {
  --page-width: 1000px;
  --header-height: 24px;
  --header-margin: 16px;
  --header-height-full: 120px;
  --page-margin-horizontal: calc((100vw - var(--page-width)) / 2);
}

body {
  background-color: var(--tui-base-02);
  font: var(--tui-font-text-m);

}

.full-width {
  width: 100vw;
  margin-left: calc(var(--page-margin-horizontal) * -1);
}

.secondary {
  opacity: 0.7;
  transition-property: opacity;
  transition-duration: 0.2s;

  &:hover {
    opacity: 1;
  }
}

svg-icon {
  width: 24px;
}

.dialog-buttons {
  display: flex;
  justify-content: right;
  margin-top: 1rem;

  * + * {
    margin-left: 1rem;
  }
}
