<form [formGroup]="form">
  <div class="tui-row tui-row_sme">
    <div class="tui-col_12">
      <h3 class="tui-form__header tui-form__header_margin-top_none">
        Создание рецепта
      </h3>
      <div class="tui-form__row">
        <tui-input
          tuiTextfieldExampleText="Название рецепта"
          formControlName="title"
        >
          Название рецепта
          <span class="tui-required"></span>
        </tui-input>
        <tui-field-error formControlName="title"></tui-field-error>
      </div>
      <div class="tui-form__row">
        <tui-editor
          new
          exampleText="Описание рецепта"
          class="editor"
          formControlName="description"
        >
          Описание рецепта
        </tui-editor>
        <tui-field-error formControlName="description"></tui-field-error>
      </div>
      <div class="tui-form__row">
        <tui-input-file
          link="Загрузите изображение"
          accept="image/*"
          class="image"
          formControlName="image"
        ></tui-input-file>
        <tui-field-error formControlName="image"></tui-field-error>
      </div>

      <div class="tui-form__row tui-form__row_multi-fields">
        <div class="tui-form__multi-field">
          <tui-input-count formControlName="serves" [min]="1">
            Количество порций
            <input tuiTextfield placeholder="2" />
          </tui-input-count>
          <tui-field-error formControlName="serves"></tui-field-error>
        </div>
        <div class="tui-form__multi-field">
          <tui-select
            formControlName="difficulty"
            [valueContent]="difficultyContent"
          >
            Сложность
            <tui-data-list-wrapper
              *tuiDataList
              [items]="difficulties"
              [itemContent]="difficultyContent"
            ></tui-data-list-wrapper>
          </tui-select>
          <ng-template #difficultyContent let-data>
            <div class="uppercase-name">
              {{ data | diffToStr }}
            </div>
          </ng-template>
          <tui-field-error formControlName="difficulty"></tui-field-error>
        </div>
      </div>
      <div class="tui-form__row tui-form__row_multi-fields">
        <div class="tui-form__multi-field">
          <tui-input-count formControlName="preparationTime" [min]="1">
            Время на подготовку
            <input tuiTextfield placeholder="10" />
          </tui-input-count>
          <tui-field-error formControlName="preparationTime"></tui-field-error>
        </div>
        <div class="tui-form__multi-field">
          <tui-select
            formControlName="preparationPlural"
            [valueContent]="preparationPluralContent"
          >
            Единицы времени
            <tui-data-list-wrapper
              *tuiDataList
              [items]="timePlural"
              [itemContent]="preparationPluralContent"
            ></tui-data-list-wrapper>
          </tui-select>
          <ng-template #preparationPluralContent let-data>
            <div class="uppercase-name">
              {{
                form.controls["preparationTime"].value
                  | i18nPlural: mapping[data]
              }}
            </div>
          </ng-template>
          <tui-field-error
            formControlName="preparationPlural"
          ></tui-field-error>
        </div>
      </div>
      <div class="tui-form__row tui-form__row_multi-fields">
        <div class="tui-form__multi-field">
          <tui-input-count formControlName="cookTime" [min]="1">
            Время на готовку
            <input tuiTextfield placeholder="10" />
          </tui-input-count>
          <tui-field-error formControlName="cookTime"></tui-field-error>
        </div>
        <div class="tui-form__multi-field">
          <tui-select
            formControlName="cookPlural"
            [valueContent]="preparationPluralContent"
          >
            Единицы времени
            <tui-data-list-wrapper
              *tuiDataList
              [items]="timePlural"
              [itemContent]="preparationPluralContent"
            ></tui-data-list-wrapper>
          </tui-select>
          <ng-template #preparationPluralContent let-data>
            <div class="uppercase-name">
              {{ form.controls["cookTime"].value | i18nPlural: mapping[data] }}
            </div>
          </ng-template>
          <tui-field-error formControlName="cookPlural"></tui-field-error>
        </div>
      </div>

      <h3 class="tui-form__header">Ингредиенты</h3>

      <ng-container
        *ngFor="let block of ingredientBlocks.controls; let i = index"
      >
        <div class="tui-row">
          <div class="tui-col_5">
            <div class="tui-form__row">
              <tui-input
                tuiTextfieldExampleText="Название блока"
                [formControl]="getIngredientBlockByIndex(i).controls['title']"
              >
                Название блока
                <span class="tui-required"></span>
              </tui-input>
              <tui-field-error
                [formControl]="getIngredientBlockByIndex(i).controls['title']"
              ></tui-field-error>
            </div>
          </div>
          <div class="tui-col_7">
            <ng-container
              *ngFor="
                let item of getIngredientItems(block).controls;
                let j = index
              "
            >
              <div class="tui-row">
                <div class="tui-col_8">
                  <tui-input
                    tuiTextfieldExampleText="Ингредиент"
                    *tuiLet="items$ | async as its"
                    [formControl]="
                      getIngredientItemByIndex(block, j).controls['title']
                    "
                  >
                    Ингредиент
                    <ng-container *ngIf="its?.length">
                      <tui-data-list *tuiDataList>
                        <button
                          *ngFor="let it of its"
                          tuiOption
                          [value]="it"
                          (click)="selectIngredient(block, j, it)"
                        >
                          <span class="name">{{ it.name }}</span>
                          от
                          <tui-money
                            [currency]="'RUB'"
                            [value]="it.priceStart"
                          ></tui-money>
                        </button>
                      </tui-data-list>
                    </ng-container>
                  </tui-input>
                </div>
                <div class="tui-col_4">
                  <tui-input
                    tuiTextfieldExampleText="Количество"
                    [formControl]="
                      getIngredientItemByIndex(block, j).controls['count']
                    "
                  >
                    Количество
                    <span class="tui-required"></span>
                  </tui-input>
                </div>
              </div>
            </ng-container>
            <div class="tui-form__buttons tui-form__buttons_align_end">
              <button
                tuiButton
                type="button"
                appearance="flat"
                size="m"
                class="tui-form__button"
                icon="tuiIconTrash"
                (click)="newIngredientItem(block)"
              >
                Добавить ингредиент
              </button>
            </div>
          </div>
        </div>

        <div class="tui-form__buttons tui-form__buttons_align_end">
          <button
            tuiButton
            type="button"
            appearance="accent"
            size="m"
            class="tui-form__button"
            icon="tuiIconTrash"
            (click)="deleteIngredientBlock(i)"
          >
            Удалить блок
          </button>
        </div>
      </ng-container>

      <div class="tui-form__buttons tui-form__buttons_align_end">
        <button
          tuiButton
          type="button"
          appearance="secondary"
          size="m"
          class="tui-form__button"
          icon="tuiIconPlus"
          (click)="newIngredientBlock()"
        >
          Новый блок
        </button>
      </div>

      <h3 class="tui-form__header">Шаги приготовления</h3>

      <ng-container *ngFor="let step of steps.controls; let i = index">
        <div class="tui-form__row">
          <tui-editor
            new
            class="editor"
            [formControl]="getStepByIndex(i).controls['text']"
          >
            Описание шага
          </tui-editor>
          <tui-field-error
            [formControl]="getStepByIndex(i).controls['text']"
          ></tui-field-error>
        </div>
        <div class="tui-form__row">
          <tui-input-file
            link="Загрузите изображение"
            accept="image/*"
            class="image"
            [formControl]="getStepByIndex(i).controls['image']"
          ></tui-input-file>
          <tui-field-error
            [formControl]="getStepByIndex(i).controls['image']"
          ></tui-field-error>
        </div>

        <div class="tui-form__buttons tui-form__buttons_align_end">
          <button
            tuiButton
            type="button"
            appearance="accent"
            size="m"
            class="tui-form__button"
            icon="tuiIconTrash"
            (click)="deleteRecipeStep(i)"
          >
            Удалить шаг
          </button>
        </div>
      </ng-container>

      <div class="tui-form__buttons tui-form__buttons_align_end">
        <button
          tuiButton
          type="button"
          appearance="secondary"
          size="m"
          class="tui-form__button"
          icon="tuiIconPlus"
          (click)="newRecipeStep()"
        >
          Новый шаг
        </button>
      </div>

      <div class="tui-form__row">
        <tui-editor
          new
          exampleText="Заключение"
          class="editor"
          formControlName="additional"
        >
          Заключение
        </tui-editor>
        <tui-field-error formControlName="additional"></tui-field-error>
      </div>
      <div class="tui-form__buttons tui-form__buttons_align_end">
        <button
          tuiButton
          type="button"
          appearance="primary"
          size="l"
          class="tui-form__button"
          (click)="publish()"
        >
          Опубликовать
        </button>
      </div>
    </div>
  </div>
  <!--      <div class="tui-form__row">-->
  <!--        <tui-input-date-->
  <!--          tuiTextfieldExampleText="Placeholder"-->
  <!--          formControlName="periodValue"-->
  <!--        >-->
  <!--          Input date-->
  <!--          <span class="tui-required"></span>-->
  <!--        </tui-input-date>-->
  <!--        <tui-field-error formControlName="periodValue"></tui-field-error>-->
  <!--      </div>-->
  <!--      <div class="tui-form__row tui-form__row_multi-fields">-->
  <!--        <div class="tui-form__multi-field">-->
  <!--          <tui-input-password formControlName="passwordValue">-->
  <!--            Input password-->
  <!--          </tui-input-password>-->
  <!--          <tui-field-error formControlName="passwordValue"></tui-field-error>-->
  <!--        </div>-->
  <!--        <div class="tui-form__multi-field">-->
  <!--          <tui-input-number-->
  <!--            formControlName="moneyValue"-->
  <!--            [postfix]="'RUB' | tuiCurrency"-->
  <!--          >-->
  <!--            Input money-->
  <!--          </tui-input-number>-->
  <!--          <tui-field-error formControlName="moneyValue"></tui-field-error>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="tui-form__row">-->
  <!--        <tui-input-slider-->
  <!--          formControlName="quantityValue"-->
  <!--          [min]="50000"-->
  <!--          [max]="3000000"-->
  <!--          [segments]="1"-->
  <!--          [pluralize]="pluralize"-->
  <!--          [segmentsPluralize]="pluralize"-->
  <!--        >-->
  <!--          Some slider-->
  <!--        </tui-input-slider>-->
  <!--        <div class="tui-form__field-note">Some additional text</div>-->
  <!--        <tui-field-error formControlName="quantityValue"></tui-field-error>-->
  <!--      </div>-->

  <!--      <div tuiGroup class="tui-form__row" [adaptive]="true" [collapsed]="true">-->
  <!--        <tui-radio-block-->
  <!--          contentAlign="right"-->
  <!--          formControlName="radioValue"-->
  <!--          item="with-commission"-->
  <!--          size="l"-->
  <!--        >-->
  <!--          One option-->
  <!--        </tui-radio-block>-->
  <!--        <tui-radio-block-->
  <!--          contentAlign="right"-->
  <!--          formControlName="radioValue"-->
  <!--          item="without-commission"-->
  <!--          size="l"-->
  <!--        >-->
  <!--          An alternative one-->
  <!--        </tui-radio-block>-->
  <!--      </div>-->
  <!--      <div class="tui-form__row tui-form__row_half-width">-->
  <!--        <tui-input-time formControlName="timeValue">-->
  <!--          Input time-->
  <!--        </tui-input-time>-->
  <!--      </div>-->
  <!--      <div class="tui-form__row tui-form__row_checkboxes">-->
  <!--        <tui-checkbox-labeled-->
  <!--          formControlName="osnoValue"-->
  <!--          size="l"-->
  <!--          class="tui-form__checkbox"-->
  <!--        >-->
  <!--          First option-->
  <!--        </tui-checkbox-labeled>-->
  <!--        <tui-checkbox-labeled-->
  <!--          formControlName="usnValue"-->
  <!--          size="l"-->
  <!--          class="tui-form__checkbox"-->
  <!--        >-->
  <!--          Other option-->
  <!--        </tui-checkbox-labeled>-->
  <!--        <tui-checkbox-labeled-->
  <!--          formControlName="eshnValue"-->
  <!--          size="l"-->
  <!--          class="tui-form__checkbox"-->
  <!--        >-->
  <!--          Cool option-->
  <!--        </tui-checkbox-labeled>-->
  <!--        <tui-checkbox-labeled-->
  <!--          formControlName="envdValue"-->
  <!--          size="l"-->
  <!--          class="tui-form__checkbox"-->
  <!--        >-->
  <!--          Your personal option-->
  <!--        </tui-checkbox-labeled>-->
  <!--        <tui-checkbox-labeled-->
  <!--          formControlName="usn2Value"-->
  <!--          size="l"-->
  <!--          class="tui-form__checkbox"-->
  <!--        >-->
  <!--          Doubtful option-->
  <!--        </tui-checkbox-labeled>-->
  <!--        <tui-checkbox-labeled-->
  <!--          formControlName="patentValue"-->
  <!--          size="l"-->
  <!--          class="tui-form__checkbox"-->
  <!--        >-->
  <!--          One more value-->
  <!--        </tui-checkbox-labeled>-->
  <!--      </div>-->
  <!--      <h3 class="tui-form__header tui-form__header_margin-bottom_small">-->
  <!--        Header-->
  <!--      </h3>-->
  <!--      <div class="tui-form__row">-->
  <!--        <label tuiLabel label="From">-->
  <!--          <tui-select-->
  <!--            formControlName="accountWherefrom"-->
  <!--            class="accounts-select"-->
  <!--            [tuiTextfieldLabelOutside]="true"-->
  <!--            [valueContent]="accountContent"-->
  <!--          >-->
  <!--            Choose an account-->
  <!--            <tui-data-list-wrapper-->
  <!--              *tuiDataList-->
  <!--              [items]="accounts"-->
  <!--              [itemContent]="accountContent"-->
  <!--            ></tui-data-list-wrapper>-->
  <!--          </tui-select>-->
  <!--        </label>-->
  <!--      </div>-->
  <!--      <div class="tui-form__row">-->
  <!--        <label tuiLabel label="To">-->
  <!--          <tui-select-->
  <!--            formControlName="accountWhere"-->
  <!--            class="accounts-select"-->
  <!--            [tuiTextfieldLabelOutside]="true"-->
  <!--            [valueContent]="accountContent"-->
  <!--          >-->
  <!--            Choose an account-->
  <!--            <tui-data-list-wrapper-->
  <!--              *tuiDataList-->
  <!--              [items]="accounts"-->
  <!--              [itemContent]="accountContent"-->
  <!--            ></tui-data-list-wrapper>-->
  <!--          </tui-select>-->
  <!--        </label>-->
  <!--      </div>-->
  <!--      <h3 class="tui-form__header">Header</h3>-->
  <!--      <div class="tui-form__row">-->
  <!--        <tui-input-->
  <!--          tuiTextfieldExampleText="Placeholder"-->
  <!--          formControlName="textValue"-->
  <!--          tuiHintContent="A tooltip"-->
  <!--        >-->
  <!--          Textfield-->
  <!--        </tui-input>-->
  <!--        <div class="tui-form__field-checkbox">-->
  <!--          <tui-checkbox-labeled formControlName="checkboxValue" size="l">-->
  <!--            Try this-->
  <!--          </tui-checkbox-labeled>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="tui-form__buttons">-->
  <!--        <button tuiButton size="l" type="submit" class="tui-form__button">-->
  <!--          Submit-->
  <!--        </button>-->
  <!--        <button-->
  <!--          tuiButton-->
  <!--          type="button"-->
  <!--          appearance="flat"-->
  <!--          size="l"-->
  <!--          class="tui-form__button"-->
  <!--        >-->
  <!--          Cancel-->
  <!--        </button>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <ng-template #accountContent let-account>-->
  <!--    <span class="account">-->
  <!--      {{ account.name }}-->
  <!--      <tui-money [value]="account.amount"></tui-money>-->
  <!--    </span>-->
  <!--  </ng-template>-->
</form>
