<form [formGroup]="form">
  <div class="tui-row tui-row_sme">
    <div class="tui-col_12">
      <div class="tui-form__row tui-form__row_multi-fields">
        <div class="tui-form__multi-field">
          <tui-input formControlName="lastName">
            Фамилия&nbsp;<span class="tui-required"></span>
          </tui-input>
        </div>
        <div class="tui-form__multi-field">
          <tui-input formControlName="firstName">
            Имя&nbsp;<span class="tui-required"></span>
          </tui-input>
        </div>
      </div>
      <div class="tui-form__row">
        <tui-input
          tuiTextfieldExampleText="mail@gmail.com"
          formControlName="email"
        >
          E-mail <span class="tui-required"></span>
        </tui-input>
      </div>
      <div class="tui-form__row">
        <tui-input tuiTextfieldExampleText="ivanov" formControlName="userName">
          Ник пользователя <span class="tui-required"></span>
        </tui-input>
      </div>
      <div class="tui-form__row" *ngIf="!isEdit">
        <tui-input
          tuiTextfieldExampleText="abcDEF@555"
          formControlName="password"
        >
          Пароль <span class="tui-required"></span>
        </tui-input>
      </div>
      <div class="tui-form__row tui-form__row_multi-fields">
        <div class="tui-form__multi-field roles" *ngIf="isAdmin">
          <tui-multi-select
            class="b-form"
            formControlName="roles"
            [tuiTextfieldLabelOutside]="true"
            [editable]="false"
          >
            Роли
            <tui-data-list-wrapper
              *tuiDataList
              tuiMultiSelectGroup
              [items]="roles"
            ></tui-data-list-wrapper>
          </tui-multi-select>
        </div>
        <div class="tui-form__multi-field" *ngIf="showOrganizations && isAdmin">
          <tui-select
            formControlName="organization"
            [valueContent]="organizationLabel"
          >
            Организация <span class="tui-required"></span>
            <tui-data-list-wrapper
              *tuiDataList
              [items]="organizations$ | async"
              [itemContent]="organizationLabel"
            ></tui-data-list-wrapper>
            <ng-template #organizationLabel let-data>
              {{ data.name }}
            </ng-template>
          </tui-select>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="dialog-buttons">
  <button
    class="dialog-action"
    tuiButton
    type="button"
    size="m"
    [disabled]="!!form?.invalid"
    (click)="submit()"
  >
    Добавить
  </button>
</div>
